body {
    background-image: url('images/bg.jpg');
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #00030b;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
}

main {
    display: flex;
}

#weather * {
    color: white;
}

#weather h1 {
    font-size: 2em;
    color: rgb(4, 4, 77);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 4px #f1e2e2;
    background-image: linear-gradient(45deg, #c3aeae, transparent);
}

nav {
    width: 100%;
    background-color: rgba(165, 42, 42, 0.438);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul li {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul a {
    flex: 1;
    font-size: 1.5em;
    color: rgb(192, 240, 240);
    padding: 10px 25px;
    border-right: 1px solid rgb(28, 28, 54);
}

header h1 {
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(4, 4, 77);
    padding: 15px;
    background-color: rgba(240, 248, 255, 0.582);
    text-align: center;
}

p {
    font-size: 1.2em;
    color: beige;
}

input {
    padding: 10px;
    border-radius: 10px 10px;
    font-size: 1.5em;
    border: none;
    margin-right: 20px;
    color: rgb(82, 16, 65);
}

button {
    padding: 15px;
    font-size: 1.5em;
    border-radius: 10px 10px;
    color: rgb(192, 240, 240);
    font-weight: 400;
    cursor: pointer;
    background-color: rgba(165, 42, 42, 0.438);
}

button:hover {
    color: wheat;
    background-color: rgb(4, 4, 77);
    transition: 0.5s;
}

#info ul,
li {
    padding: 0;
    margin: 0;
}

#info {
    background-image: linear-gradient(rgba(165, 42, 42, 0.438), rgb(4, 4, 77));
}

#info ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

#info ul li {
    flex: 1;
    font-size: 1.3em;
    border-right: 1px solid darkblue;
    margin-right: 10px;
}

nav ul a:hover {
    background-color: darkblue;
    color: white;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
        flex-wrap: wrap;
    }
    button {
        width: 70%;
    }
    input {
        margin: 10px 0 10px 0px;
    }
    header {
        font-size: 0.8em;
    }
    #info ul {
        flex-direction: column;
    }
    #info ul li {
        margin: 0;
        margin-bottom: 20px;
    }
}